@use 'sass:map';
@use 'variables' as v;
@use 'mixin' as m;
body {

    height: 98vh;
    display:flex;
    @include m.flexbox(column, center, center, 1.5rem);
    background-color: v.$light-cyan;
}

input {

}

footer {
    height: 5%;
}
