@use 'variables' as v;
@use 'mixin' as m;

.tips-container {
    @include m.flexbox(row, $gap:15px);
    flex-wrap: wrap;
.field__input {
    width: calc((95% - 15px) / 3);
    font-size: 24px;
    text-align: center;
    &--darkcyan {
        color: v.$white;
        background-color: v.$very-dark-cyan;
        padding: 5px 40px;
        }
    }
}
    

