@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap');
$w-mobile: 375px;
$w-desktop: 1440px;

$primary-color: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-cyan: hsl(184, 14%, 56%);
$neutral-cyan: hsl(184, 14%, 56%);
$light-cyan: hsl(185, 41%, 84%);
$very-light-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* Typography */
$form-inputs: 'Space Mono', monospace;



$margins : ('20': 20px, '30':30px, '1.5':1.5rem, '2.5':2.5rem)