@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /* Primary */
    ---darkcyan : hsl(158, 36%, 37%);
    --cream : hsl(30, 38%, 92%);

    /* Neutral */
    --darkblue : hsl(212, 21%, 14%);
    --grayishblue:hsl(228, 12%, 48%);
    --white : hsl(0, 0%, 100%);

    --montserrat : 'Montserrat', sans-serif;
    --fraunces : 'Fraunces', serif;
}

*,::after, ::before{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background-color: var(--cream);
}
/* Controls of general container */
    .container{
        background-color: var(--white);
        width : 93%;
        margin: 1.5rem auto;
        border-radius: 15px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    /* style of product : img's container and img */
    .product{
     grid-row: 1/2;
        width:100%;
        height:100%;
    }

        .product img{
            width : 100%;
            object-fit: cover;
        }

/* Product-data : category, product-name, description */
    .product-data-container{
        grid-row: 2/3;
        margin : 0.7rem 0;
        display: grid;
        grid-template-rows: auto 70px;
        row-gap: 5px;
    }
        .product-data{
            grid-row: 1/2;
            margin-top : 0.6rem;
            padding : 0 2.4rem;
            display: flex;
            flex-direction: column;
            gap : 15px;
        }
            .category{
                color: var(--grayishblue);
                font-family: var(--montserrat);
                font-weight:500;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-size:0.75rem;
            }

            .product-name{
                font-family: var(--fraunces);
                font-size : 2.05rem;
                line-height: 1;
            }

            .description{
                font-family: var(--montserrat) ;
                font-weight: 500;
                color:var(--grayishblue);
                font-size : 0.9rem;
                line-height: 1.5rem;
            }

            .price{
                display :flex;
                gap : 15px;
                align-items: center;
            }

                .price .newprice{
                    font-family: var(--fraunces);
                    font-weight: 700;
                    color:var(---darkcyan);
                    font-size : 2rem;
                }

                .price .oldprice{
                    text-decoration: line-through;
                    font-family: var(--montserrat);
                    font-size : 0.8rem;
                    font-weight: 500;
                    color : var(--grayishblue);
                }
        .chart{
            /* parent */
            grid-row: 2/3;

            /* dimensions, position */
            width : 85%;
            height : 50px;  
            margin: 1rem auto;
            border-radius: 10px;
            border : 1px solid transparent;

            /* colors, fonts */
            background-color: var(---darkcyan);
            color : var(--white);
            font-family: var(--montserrat);
            font-weight: 600;
            font-size: 0.9rem;

            /* style container */
            display: flex;
            align-items: center;
            justify-content: center;
            gap : 10px; 
            cursor: pointer;
        }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        background-color: lightblue;
        width : 100%;
        height:20px;
        position: absolute;
        bottom: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

            .attribution a { 
                color: hsl(228, 45%, 44%); 
            }

@media screen and (min-width:1440px) {
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height : 65%;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .product{
            grid-column : 1/2;
            grid-row: 1/3;
        }
            .product img{
                height:100%;
            }
        
            .product-data-container{
                grid-column: 2/3;
                grid-row : 1/2;

                grid-template-rows : 1fr 70px;
                margin : 0 0 1rem 0;
            }
        .product-data{
            padding: 1.5rem 2rem 0 2rem;
            gap : 25px;
        }
        .chart{
            margin : 0 auto 1rem auto;
        }
        .chart:active{
            background-color: hsl(158, 36%, 37%);
        }
    
}