@use "variables" as v;

body{
    font-family: v.$rubik;
    background-color: v.$darkerblue;
    color : v.$paleblue;
    
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white;
    a { 
        color: white; 
    }
}
