@use "variables" as v;



.rating__wrapper {
    width: 100%;

}

.rating__icon {
    margin-bottom: 1.5rem;
}

.rating__icon img {
    width: 30%;
    margin: 0 auto;
}


.feedback__wrapper {
    display: flex;
    justify-content: space-around;
}


.feedback__content {
    display: inline-block;
    width: 100%;
    vertical-align: middle;


    text-align: center;
}

.feedback__item:hover, .feedback__item:active {
    cursor: pointer;
}
.feedback__item:hover {
    background-color: v.$primary-color;
    
}

.feedback__item:active {
    background-color: v.$lightgrey;
}