@use "variables" as v;



.rating__wrapper {
    width: 100%;

}

.rating__icon {
    margin-bottom: 1.5rem;
}

.rating__icon img {
    width: 30%;
    margin: 0 auto;
}


.feedback__wrapper {
    display: flex;
    justify-content: space-around;
}


.feedback__content {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50%;
    vertical-align: middle;


    text-align: center;
    background-color: v.$darkblue;
}

.feedback__content:hover  {
    cursor: pointer;
}
.feedback__content:hover {
    background-color: v.$lightgrey
    
}
