@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$overpass : 'Overpass','sans-serif';

$primary-color:hsl(25, 97%, 53%);
$white : hsl(0, 0%, 100%);
$lightgrey : hsl(217, 12%, 63%);
$mediumgrey : hsl(216, 12%, 54%);
$darkblue: hsl(213, 19%, 18%);
$vdarkblue: hsl(216, 12%, 8%);

$desktop : 1440px;
$mobile : 375px;
